{{!-- NAVBAR START --}}
<nav class="navbar navbar-default">
  <div class="container-fluid whole-nav">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      {{!-- <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        {{/if}}
      </ul> --}}
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}<span class="nav-buttons">Change Password</span>{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}><span class="nav-buttons">Sign Out</span></a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}<span class="nav-buttons">Sign-Up</span>{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}<span class="nav-buttons">Sign-In</span>{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{!-- NAVBAR END --}}


{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

{{outlet}}
